[package]
name = "metasearch2"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
ammonia = "3.3.0"
async-stream = "0.3.5"
axum = { version = "0.7.4", default-features = false, features = [
    "tokio",
    "http1",
    "http2",
    "query",
    "json",
] }
base64 = "0.22.0"
bytes = "1.5.0"
chrono = "0.4.35"
chrono-tz = { version = "0.8.6", features = ["case-insensitive"] }
eyre = "0.6.12"
fend-core = "1.4.5"
futures = "0.3.30"
html-escape = "0.2.13"
once_cell = "1.19.0"
rand = "0.8.5"
regex = "1.10.3"
reqwest = { version = "0.11.26", default-features = false, features = [
    "rustls-tls",
    "gzip",
    "deflate",
    "brotli",
] }
scraper = "0.19.0"
serde = { version = "1.0.197", features = ["derive"] }
serde_json = "1.0.114"
tokio = { version = "1.36.0", features = ["rt", "macros"] }
tokio-stream = "0.1.15"
url = "2.5.0"
urlencoding = "2.1.3"
