:root {
  /* body background */
  --bg-1: #11111b;
  /* background of the content */
  --bg-2: #181825;
  /* input suggestions background */
  --bg-3: #1e1e2e;
  /* mostly borders */
  --bg-4: #313244;

  /* main text color */
  --fg-1: #cdd6f4;
  /* search result description */
  --fg-2: #bac2de;
  --fg-3: #a6adc8;

  /* focus outline */
  --accent: #b4befe;

  --link: #89b4fa;
  --link-visited: #bc78f8;

  /* green, success */
  --positive: #7fd962;
  /* red, error */
  --negative: #f38ba8;

  --syntax-string: #a6e3a1;
  --syntax-special: #fab387;
  --syntax-constant: #cba6f7;
  --syntax-comment: #6c7086;
  --syntax-func: #89b4fa;
}
